@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	margin: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

.app {
	/* max-width: 1500px; */
	margin: auto;
}
